.input-group.food_groups_area
	%input.form-control.typeahead#food_input{:placeholder => "I have...", :type => "text"}
	%btn.btn-lg.btn-success.glyphicon.glyphicon-plus.food_add_buttons#food_add_button
.food_list
	- Cupboard.where(user_id: current_user).each do |item|
		.cupboard_items
			%input{type: 'checkbox', name: 'cupboard_item', value: item.id }=item.food.name
.button-group
	%btn.btn-lg.btn-info#delete_from_cupboard_button Used it
	%btn.btn-lg.btn-warning#delete_from_cupboard_and_add_to_grocery_list_button Need more


