.col-md-12.text-center
	.food_input.input-group
		%input.form-control.text-center#food_input{:placeholder => "I have...", :type => "text"}
		%span.input-group-addon.glyphicon.glyphicon-plus.food_add_buttons#food_add_button
	.food_list
		- Cupboard.where(user_id: current_user).each do |item|
			.cupboard_items
				%input{type: 'checkbox', name: 'cupboard_item', value: item.id }=item.food.name
	.delete_buttons
		%button.btn.btn-lg.btn-info.has_tooltip#delete_from_cupboard_button{"data-toggle" => "tooltip", title: "Delete it from your cupboard"} Used it
		%button.btn.btn-lg.btn-warning.has_tooltip#delete_from_cupboard_and_add_to_grocery_list_button{"data-toggle" => "tooltip", title: "Add it to your grocery list"} Need more


