.potential_ingredients_area.text-center What do you want to use? 
-@ingredients.each do |item|
	.row.text-center
		%input{type: 'checkbox', name: 'cupboard_item_to_search', value: item.id }=item.food.name
.row.text-center
	%button.btn.home_buttons#search_button Search
.search_results

