%h1.text-center 
	%img#logo{src: "/images/cucina2.png", alt: "rss feed"}
%p.text-center
	Welcome to Cucina, your virtual kitchen. It couldn't be simpler to get started
	%br
	%br
	Have: your virtual cupboard
	%br
	%br
	Need: your virtual grocery list
	%br
	%br
	Cook: search the recipes you can make with 
	%br
	the ingredients in your cupboard. 
	%br
	%br
	Got Questions? Hate us? Love us?  Email us at info@cookcucina.com








