%h1.text-center 
	%img#logo{src: "/images/CucinaImage.png", alt: "rss feed"}
.row.text-center
	= link_to "Have", cupboards_path(), {class: 'btn btn-default home_buttons', id: 'cupboard_button', type: 'button'}	
.row.text-center
	= link_to "Need", grocery_lists_path(), {method: 'post', class: 'btn btn-default home_buttons', id: 'grocery_list_button', type: 'button'}
.row.text-center	
	= link_to "Cook", recipes_path(), {method: 'get', class: 'btn btn-default home_buttons', id: 'recipe_button', type: 'button'}








