%h1.text-center Cucina
.row.text-center
	.col-md-4
		%button#cupboard_button.btn.btn-primary Have
		.row
			#cupboard_display_area{hidden: true}
				= render "cupboards/index", locals: {cupboard: @cupboard}
	.col-md-4
		%button#grocery_list_button.btn.btn-warning Need
		.row
			#grocery_list_display_area{hidden: true}
				= render "grocery_lists/show"
	.col-md-4
		%button#recipe_button.btn.btn-success Cook
		.row
			#recipe_display_area{hidden: true}
				.row.text-center
					= render "recipes/search"
				.row.text-center
					= render "recipes/browse"







