@import "bootstrap-sprockets"
@import "bootstrap"

#cupboard_display_area
	padding: 75px
#grocery_list_display_area
	padding: 75px
#recipe_display_area
	padding: 75px
.food_groups_area
	padding-right: 10px
	padding-left: 10px

