@import "bootstrap-sprockets"
@import "bootstrap"

#cupboard_display_area
	padding: 75px
#grocery_list_display_area
	padding: 75px
#recipe_display_area
	padding: 75px
.food_groups_area
	padding-right: 10px
	padding-left: 10px
.food_list 
	height: auto
	padding: 25px
.grocery_list
	height: auto
	padding: 25px
.input-group
	padding-right: 500px
	padding-left: 500px
#food_add_button
	background-color: #F2AE72
	color: #fff
#grocery_list_add_button
	background-color: #F2AE72
	color: #fff
#sign_out_button
	background-color: #588C7E
#delete_from_cupboard_button 
	background-color: #588C7E
#delete_from_cupboard_and_add_to_grocery_list_button
	background-color: #D96459
#add_to_cupboard_button
	background-color: #588C7E
	color: #fff
#delete_from_grocery_list_button
	background-color: #D96459
	color: #fff



.home_buttons
	background-color: #CD5C5C
	color: #fff
	border: 25px
	margin: 10px
#logo
	height: 200px
	width: 400px
body
	background-color: #FCEBB6

img
	height: 50px
	width: 100px

#new_user
	padding-right: 500px
	padding-left: 500px

.header 
	padding-bottom: 30px
